name: dagger
on:
  pull_request:
    branches: [main]

jobs:
  zarf-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo 
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Install Dagger CLI
        run: cd /usr/local && { curl -L https://dl.dagger.io/dagger/install.sh | sh; cd -; }

      - name: Install k3d
        run: curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash

      - name: Create k3d cluster
        run: k3d cluster delete && k3d cluster create -p "31999:31999@server:*" --k3s-arg "--tls-san=$(docker network inspect bridge --format '{{(index .IPAM.Config 0).Gateway}}')@server:*"

      - name: Install Zarf
        uses: defenseunicorns/setup-zarf@main
        with:
          version: v0.29.2
          download-init-package: true

      - name: Zarf init
        run: zarf init -a amd64 --confirm

      - name: Run Dagger pipeline
        run: |
            export REGISTRY_URL="172.17.0.1:31999"
            export REGISTRY_USERNAME="$(zarf tools kubectl get secret zarf-state -n zarf -o jsonpath='{.data.state}' | base64 -d | jq -r .registryInfo.pushUsername)"
            export REGISTRY_PASSWORD="$(zarf tools kubectl get secret zarf-state -n zarf -o jsonpath='{.data.state}' | base64 -d | jq -r .registryInfo.pushPassword)"
            dagger run go run main.go
